<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqKvBAovdzNfu4jvsKmDQq8rsNNDGQd-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>468939182239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterCloneChallenge</string>
	<key>PROJECT_ID</key>
	<string>majinbuu-twitter-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>majinbuu-twitter-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468939182239:ios:6f923745cfae8a44dcd2aa</string>
</dict>
</plist>